/*
Widget 1 - Variations:
- Center aligned

Widget 2 - Variations:
- Horizontal
- Vertical

Fallback widget - Widget 2 - Vertical */

.thespace-widget {
	font-family: Arial, Helvetica, sans-serif;
	position: relative;

	&:hover {
		.popup-container {
			display: block;
		}
	}

	> a {
		overflow: hidden;
		display: block;
		width: 190px;
		height: 42px;

		img {
			width: 100%;
		}
	}

	.popup-container {
		display: none;
		position: absolute;
		left: -270px;
		top: -462px;
		width: 704px;
		height: 305px;
		padding: 10px;
		background-color: #FFF;
		position: relative;

		&:after {
			position: absolute;
			left: 344px;
			bottom: -18px;
			height: 100px;
			content: ' ';
			width: 0;
			height: 0;
			border-left: 18px solid transparent;
			border-right: 18px solid transparent;
			border-top: 18px solid #FFF;
		}

		&:before {
			position: absolute;
			width: 100%;
			height: 38px;
			content: ' ';
			bottom: -38px;
			left: 0;
		}

		&.active {
			display: block;
		}

		&:hover {
			display: block;
		}
	}

	.popup-container,
	.items-container {
		ul,
		li {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		li {
			float: left;
			border: 1px solid #F1F1F1;
			position: relative;

			&:hover,
			&:focus {
				border-color: #006BDA;

				.info-panel {
					background-color: #006BDA;
				}

				.title,
				.description {
					color: #FFF;
				}
			}

			a {
				text-decoration: none;
				display: block;
			}

			.type {
				background-color: #FFF;
				padding: 2px 10px;
				font-size: 12px;
				font-weight: bold;
				text-transform: uppercase;
				color: #323232;
				position: absolute;
				right: -1px;
				top: -1px;
				z-index: 2;
			}

			img {
				width: 100%;
				vertical-align: middle;
			}

			.info-panel {
				background-color: #F1F1F1;
				height: 156px;
				overflow: hidden;
				padding: 10px;
			}

			.title {
				font-size: 16px;
				font-weight: bold;
				color: #323232;
				text-transform: uppercase;
				margin-bottom: 4px;
				max-height: 68px;
				overflow: hidden;
			}

			.description {
				height: 114px;
				font-size: 12px;
				color: #717171;
				line-height: 1.2;
				margin: 0;
				overflow: hidden;
			}

			.ellipsis.multiline {
				white-space: normal;
			}
		}
	}

	.popup-container {
		li {
			width: 226px;
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&.horizontal,
	&.vertical {
		margin: 0 auto;
	}

	&.horizontal {
		max-width: 704px;

		.items-container {
			li {
				max-width: 226px;
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	&.vertical {
		max-width: 226px;

		.items-container {
			li {
				max-width: 226px;
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

}