doctype html
html(lang="en")
    head

    body
        div.thespace-widget.widget2.vertical
            div.items-container
                ul
                    each index in [0, 1, 2]
                        li
                            a(href=link[index])
                                div.type= type[index]
                                img(src= imageSrc[index], alt='')
                                div.info-panel
                                    div.title= title[index]
                                    div.description.ellipsis.multiline= description[index]

    link(rel="stylesheet", href="/css/main.min.css", type="text/css")
    script(src="/js/main.min.js")